* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

button {
  width: fit-content;
  height: 48;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #6070ff;
  display: flex;
  align-items: center;
  padding: 12px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  color: #396df2;
}

button:hover {
  background-color: #6070ff;
  color: #fff;
  border-radius: 8px;
  animation-name: rotate;
  animation-duration: 0.7s;
  animation-direction: reverse;
}

body {
  background: #e5e5e5;
  min-height: 100vh;
}

.tool_bar {
  width: 100%;
  background: #fff;
  padding: 26px;
  display: flex;
  position: fixed;
}

.the_nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.themenu {
  display: none;
  color: #334463;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

/* .themenu:hover {
  font-size: 20px;
} */

main {
  display: block;
}

.port_sec {
  width: 100%;
  background:
    url("img/header-shapes-mobile.svg"),
    url("img/header-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: center, bottom left;
}

.background_1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 102px;
  padding-left: 25px;
  padding-right: 25px;
}

h1 {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 12px;
}

.me_1 {
  color: #344563;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 12px;
  max-width: max-content;
}

.lets_cnt {
  color: #0004ff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 12px;
}

.social_icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 136px;
}

.the_gap {
  width: 100%;
  display: grid;
  grid-template-columns: 1.1fr;
  grid-row-gap: 88px;
  padding: 114px 24px;
}

.About_me {
  background: url(./img/about-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  width: 100%;
}

.about_me_full {
  display: flex;
  flex-direction: column;
}

.about_myself_h2 {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 12px;
}

.about_myself_p {
  color: 344563;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 12px;
}

.about_connect_2 {
  color: #0004ff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 26px;
}

.the_media_icons_2 {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 22px;
}

.butn {
  display: flex;
  width: fit-content;
  height: 47px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #6070ff;
  align-items: center;
  padding: 12px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  color: #396df3;
}

.my_skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 50px;
}

.my_skill_two {
  margin-top: 36px;
}

.the_line {
  width: 100%;
  height: 1.5px;
  margin-bottom: 24px;
}

.my_skill_list {
  display: flex;
  flex-direction: column;
}

.my_skill_one,
.my_skill_two {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 60px;
  margin-bottom: 36px;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.my_skills_desktop {
  display: none;
  width: 100%;
}

.foo_ter {
  display: flex;
  flex-direction: column;
  background: #6070ff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.footer_background {
  background: url("img/contact\ form\ shapes-mobile.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.my_contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 103px 24px 60px 24px;
  gap: 12px;
}

.my_contact h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
}

.my_contact p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  max-width: 370px;
}

.the_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 24px;
}

#name,
#email,
#Message {
  width: 80%;
  height: auto;
  padding: 15px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  align-items: center;
  color: #172b4d;
}

.for_button {
  align-self: center;
}
