#container {
  width: 375px;
  height: 718px;
  background-color: #f7f7f9;
  background-image: url(./Images/header/header.png);
}

#template_1 {
  width: 375px;
  height: 718px;
}

.status_bar {
  width: 375px;
  height: 44px;
  display: flex;
}

.status_bar p {
  width: 54px;
  height: 16px;
  margin-top: 16px;
  margin-left: 21px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 14px;
  line-height: 16.41px;
  color: #000;
  letter-spacing: -0.28px;
}

.network {
  width: 17px;
  height: 10.67px;
  margin-left: 218.67px;
  color: #000;
  margin-top: 17.67px;
}

.wifi {
  width: 15.27px;
  height: 10.97px;
  margin-top: 17.33px;
  margin-left: 5.03px;
  color: #000;
}

.battery {
  width: 24.33px;
  height: 11.33px;
  margin-left: 5.03px;
  margin-top: 17.33px;
  border-radius: 1.33333px;
}

header {
  width: 375px;
  height: 44px;
  display: flex;
}

.logo {
  width: 76px;
  height: 20px;
  margin-top: 4px;
  margin-left: 24px;
  text-align: center;
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #6070ff;
}

.the_union {
  width: 18px;
  height: 12px;
  margin-top: 6px;
  margin-left: 223px;
}

.background_image {
  height: 10px;
  width: 375px;
  margin: auto;
}

.myself {
  width: 327px;
  height: 144px;
  margin-top: 84px;
  margin-left: 24px;
  font-weight: 700;
  font-size: 30px;
  color: #172b4d;
  line-height: 52px;
}

.my_description {
  width: 327px;
  height: 146px;
  margin-left: 24px;
  margin-top: 24px;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
}

.connectors h3 {
  height: 24px;
  margin-left: 24px;
  margin-top: 12px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;
  color: #7f8cff;
}

ul {
  display: flex;
  width: 170.17px;
  height: 20px;
  margin-left: 24px;
  margin-top: 12px;
  list-style: none;
}

.twiter {
  width: 19.99px;
  height: 19.96px;
  margin-left: -40px;
}

.linkedin {
  width: 19.99px;
  height: 19.96px;
}

.m_logo {
  width: 19.99px;
  height: 19.99px;
  margin-left: 20px;
}

.Github {
  width: 19.99px;
  height: 19.99px;
  margin-left: 28px;
}

.okk {
  width: 19.99px;
  height: 19.99px;
  margin-left: 36px;
}
